@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Seção de apresentação */

#presentation {
  background-image: url(/img/background.jpeg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#presentation h1 {
  display: block;
  width: fit-content;
  font-size: 5rem;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1.5s;
}

#presentation h1:nth-child(1) {
  animation-delay: 0.8s;
}

#presentation h1:nth-child(2) {
  animation-delay: 1.8s;
}

#presentation h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 2.8s;
}

#presentation .cta {
  display: inline-block;
  padding: 10px 30px;
  color: gold;
  background-color: transparent;
  border: 2px solid gold;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 20px;
  transition: 0.3s;
  transition-property: background-color, color;
}

#presentation .cta:hover {
  color: white;
  font-weight: 500;
  background-color: gold;
}

#presentation h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
  background-color: gold;
}

#presentation h1:nth-child(1) span {
  animation-delay: 0.5s;
}

#presentation h1:nth-child(2) span {
  animation-delay: 1.5s;
}

#presentation h1:nth-child(3) span {
  animation-delay: 2.5s;
}

#presentation::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
}

/* Seção de Portfólio */

#portfolio .portfolio {
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  padding: 100px 0;
}

#portfolio .portfolio-header {
  margin-bottom: 50px;
}

#portfolio .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#portfolio .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

#portfolio .project-info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #5a10b5 0%, #002349 100%);
  color: white;
}

#portfolio .project-info h1 {
  font-size: 4rem;
  font-weight: 500;
}

#portfolio .project-info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
}

#portfolio .project-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#portfolio .project-img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
}

#portfolio .project-img img {
  transition: 0.5s ease transform;
}

#portfolio .project-item:hover .project-img img {
  transform: scale(1.1);
}

/* Keyframes */

@keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes text_reveal_name {
  100% {
    color: gold;
    font-weight: 500px;
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
